
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
.banner{
  margin-top: 10px;
}
.logo{
  width: 75px;
  padding: 0;
  margin-right: 10px;
}
.thumbnail img{
  height: 250px;
}
